---
layout: default
---


  <div class="note" markdown="1">
    <a href="/assign">Assignment 1</a> is due on February 22.
    
    <a href="/assign">Assignment 2</a> is due on March 2.
  </div>

<div class="home">

<div style="float: right;">
  
            <a class="twitter-timeline" data-chrome="nofooter" data-width="300" href="https://twitter.com/hashtag/networkscience" data-widget-id="818488853996642305">#networkscience Tweets</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

</div>

<h1 class="page-heading">Notes</h1>

  <ul class="post-list">
    {% for post in site.posts reversed %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}{% if post.category %} • {{ post.category }}{% endif %}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <!--
  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
  -->
  </div>

