---
layout: default
comments: true
---
<div class="post">

  <header class="post-header">
    {% include navigation.html %}
    <h2 class="post-content">{{ page.category }}</h2>
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
    {{ content }}
    {% include navigation.html %}
    {% include disqus.html disqus_identifier=page.disqus_identifier %}
  </article>

</div>
